<div id="<%= dom_id escultura %>">
  <p>
    <strong>Autor:</strong>
    <%= escultura.autor %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= escultura.fecha %>
  </p>

  <p>
    <strong>Estilo:</strong>
    <%= escultura.estilo %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= escultura.precio %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= escultura.foto %>
  </p>

</div>
