<div id="<%= dom_id manualidad %>">
  <p>
    <strong>Autor:</strong>
    <%= manualidad.autor %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= manualidad.fecha %>
  </p>

  <p>
    <strong>Estilo:</strong>
    <%= manualidad.estilo %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= manualidad.precio %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= manualidad.foto %>
  </p>

</div>
