<div id="<%= dom_id cuadro %>">
  <p>
    <strong>Autor:</strong>
    <%= cuadro.autor %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= cuadro.fecha %>
  </p>

  <p>
    <strong>Estilo:</strong>
    <%= cuadro.estilo %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= cuadro.precio %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= cuadro.foto %>
  </p>

</div>
